@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"),
    url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaPT-Heavy.woff") format("woff"),
    url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"),
    url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaPT-Medium.woff") format("woff"),
    url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"),
    url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaPT-Book.woff") format("woff"),
    url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"),
    url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaPT-Light.woff") format("woff"),
    url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
